<#assign ctx=request.contextPath /> <#include "/layout/layout.html"/>
<body>
	<div class="">
		<div class="">

			<div class="am-g">
				<div class="am-u-sm-12"
					style='text-align: center; font-size: 30px; font-weight: 400; margin-top: 10%;'>
					<i class="fa fa-lock" style="color: #a3a1a1; font-size: 200px;"></i>
					<br /> <span class="am-text-center" style="color: #a3a1a1">系统错误，请联系管理员</span>
					<p>
						<a href="${ctx}/"
							style="font-size: 16px; color: #1378c6; text-decoration: none;">返回首页</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>